*{
    font-family: sans-serif;
}
.searchWrapper{
    display: flex; 
    justify-content: space-between;
}
.search { background: #efefef; border: 1px solid #999; }

 input{
    border:3px solid #009879;
    height:40px;
    width:300px;
    border-radius:50px;
    padding:0px 10px;
    margin-top:4%;
    outline:none;
}

.showEnteries{margin:20px 0 50px 30px;font-size:20px;display:flex;justify-content:space-between;}

    .showEnteries select{
        background:#009879;
        color:#fff;
        padding:10px;
        width:100px;
        height:27px;
        border:none;
        border-radius: 5px;
        font-size:20px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.5);
        -webkit-appearance: button;
        -moz-appearance: button;
        outline:none;
        margin-left:4px;
        margin-right:4px;
        
    }
    .showEnteries select option{
        background-color:#009879;
    }

  

.content-table{
    border-collapse: collapse;
    margin:auto;
    font-size:0.9 em;
    min-width:90%;
    border-radius:5px 5px 0 0;
    overflow:hidden;
   box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
    background-color: #009879;
    color:#fff;
    text-align:left;
    font-weight:bold;
}


.content-table th,
.content-table td {
    padding: 12px 15px;
    cursor: pointer;
}



.content-table .th-sort-asc::after {
    padding:2%;
    content: "\25b4";
    color:yellow;
  }
  
  .content-table .th-sort-desc::after {
    padding:2%;
    content: "\25be";
    color:yellow;
  }

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.smalltext{
    font-size:10px;
    color:yellow;
}
.content-table tbody tr td img{
    width:50px;
    height:50px;
}



.content-table tbody  tr:nth-of-type(even){
    background-color:#f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color:#009879;

}
.material-icons.md-17 { font-size: 17px; padding:4px;color:black; }

.displayenteries{
    font-size:15px;
    margin-top:2%;
    color:rgb(158, 155, 155);
    display:flex;
    justify-content: center;
   

}

.displayenteries span{
color:orange;
font-weight:bold;
}

.pagina{
    text-align: center;
}
.pagination{
    display:inline-block;

}

.pagination li{
    display:inline;
    padding:8px 16px;
    text-decoration: none;
    color:#009879;
    transition: all 0.3s;
    border:1px solid #ddd;
    font-size:20px;
    margin:0 4px;
}



.pagination li:first-child {border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.pagination li:last-child {border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.pagination li.active {background:#009879;color:#fff;border:1px solid #40d47e}
.pagination li:hover:not(.active){background-color:#999;color:#fff}